.main{
    padding:0px;
    margin:0px;
    margin-left: 500px;
    margin-bottom:500px ;
}
.content{
    height:100px;
    width: 100px;
    margin-left: 500px;
    margin-bottom: 500px;
}
.Dish{
    margin-left:40000px ;
    margin-bottom: 5000px;
   
}